chainer==5.3.0
keras=2.2.4
numpy=1.15.4
protobuf==3.6.1
pygpu==0.7.6
scikit-learn==0.20.3
scipy==1.2.1
tensorboard==1.13.1
tensorboardX==1.6
tensorflow-gpu==1.15.2
Theano==1.0.3
torch==1.1.0
torchvision==0.2.3
